html {
	line-height: inherit;
	min-height: 100%;
	margin: 0;
}

body {
  font-family: Andale Mono,AndaleMono,monospace;
  margin: 0;
  padding: 0;
}

/* Style the background of the navigation bar */
.topnavbar {
  background-color: #909090;
  align-items: center;
	display: flex;
	justify-content: space-between;
}

/* Style logo */
.logo {
  width: auto;
  height: 1.5em;
	opacity: 0.5;
  margin: inherit;
	margin-left: 5em;
	padding: 1em;
}

/* Style each link in the navigation bar */
.topnavbar a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
	padding: 1em;
}

/* Style all links as a whole */
.topnavbar ul {
  display: flex;
	margin: inherit;
	justify-content: space-between;
	margin-right: 3em;
}

/* Style link of ACNH */
.topnavbar li {
  list-style: none;
}

/* Style dropdown links of ACNH */
.dropdown li {
  list-style: none;
  display: none;
}

.logo:hover {
	opacity: 0.8;
	transition: 0.5s;
}

.topnavbar a:hover {
	background-color: #7d7d7d;
	color: #3c3c3c;
	transition: 0.3s ease;
}

input[type=checkbox] {
	display: none;
}
